#!/usr/bin/env bash
set -euo pipefail

if [[ ! -f /etc/arch-release ]]; then
  exit 0
fi

sudo install -d -m 0755 /etc/greetd
sudo tee /etc/greetd/config.toml >/dev/null <<'EOF'
[terminal]
vt = 1

[default_session]
command = "tuigreet --time --cmd 'uwsm start hyprland.desktop'"
user = "greeter"
EOF
sudo systemctl enable greetd.service
